<div id="<%= dom_id todo %>">
  <div>
    <strong>Description:</strong>
    <%= todo.description %>
  </div>

  <div>
    <strong>Done:</strong>
    <%= todo.done ? "Yes" : "No" %>
  </div>

  <div>
    <strong>Due date:</strong>
    <%= todo.due_date %>
  </div>

</div>
